<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include("../partials/head-base",{title:"Login"}) %>

    <link rel="stylesheet" href="/css/forms.css" />
    <link rel="stylesheet" href="/css/validation.css" />

    <script type="text/javascript" src="/js/validator.min.js"></script>
    <script src="/js/validation-users-validator.js"></script>
  </head>

  <body class="background-main">
    <%-include("../partials/header") %>

    <main class="margin-login">
      <div
        class="background-main main-form-container flex-column wrap forms-lg "
      >
        <section
          class="form-container center-text radius-5 width-auto background-image-seven"
        >
        <div>
          <h3 class="font-arimo font-size-25lg font-weight-bold color-secondary">
            Ingresa a tu cuenta
          </h3>
          <% if(typeof errors != "undefined") { %>
          <ul>
            <% for (let i = 0; i < errors.length; i ++) { %>
            <li><%= errors[i].msg %></li>
            <% } %>
          </ul>
          <% } %>
          <form action="/" method="POST" class="flex-column" id="loginForm">
            <div>
              <label for="user"
                class="font-jura font-size-medium flex-column font-size-20lg font-weight-bold color-secondary margin-5">Ingresa tu
                Usuarix
              </label>
              <input
                class="font-bellefair no-border radius-5 center-text font-size-20lg height-5-vh width-button validate background-main"
                type="text"
                name="user"
                id="user"
                placeholder="Nombre de usuario"
                value='<%= loginData ?
            loginData.user : "" %>'
              />
              <div id="userFeedback" class="feedback"></div>
            </div>
            <div>
              <label for="password"
              class="font-jura font-size-medium flex-column font-size-20lg font-weight-bold color-secondary margin-5">Ingresa tu
              Contraseña
              </label>
              <input
                class="no-border radius-5 center-text font-bellefair font-size-20lg height-5-vh width-button validate background-main"
                type="password"
                name="password"
                id="password"
                placeholder="Contrasena"
              />
              <div id="passwordFeedback" class="feedback"></div>
            </div>
            <button
              type="submit"
              class="margin-5 no-border font-size-medium center-text font-jura font-size-20lg font-weight-bold color-secondary"
            >
              Ingresar
            </button>
            <div
              class="checkbox-form d-flex font-jura font-size-14"
            >
              <p class="font-size-medium font-size-20lg">
                <label class="font-weight-bold color-secondary" for="remember">Recordar usuario </label>
              </p>
              <input
                class="no-border radius-5 center-text width-10 font-size-20lg"
                type="checkbox"
                name="remember"
                value="yes"
                checked
              />
            </div>
            <div>
              <a href="#" class="font-weight-bold color-secondary font-jura font-size-medium font-size-20lg "
                >Recuperar contraseña</a
              >
            </div>
          </form>
          <h2 class="font-arimo font-weight-bold color-secondary font-size-medium">
            Todavia no te registraste?
          </h2>
          <a href="/register">
            <button
              class="no-border margin-5 font-arimo font-weight-bold color-secondary font-size-medium width-auto"
            >
              Registrarme
            </button></a
          >
          </div>
        </section>
      </div>
    </main>
    <%-include("../partials/footer") %>
  </body>
</html>
