<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include("partials/head-base",{title:"Cala Home"}) %>
  </head>

  <body class="background-main">
    <%-include("partials/header") %>
    <!--mantengo el estilo de section para los menu-->
    <main>
     <!--<section>
        <h3>Productos</h3>
       <ul> 
          <li><a href="#">Shampoo Sólido</a></li>
          <li><a href="#">Acondicionador Sólido</a></li>
          <li><a href="#">Pasta Dental</a></li>
          <li><a href="#">Jabones</a></li>
          <li><a href="#">Otros Productos</a></li>
          <li><a href="#">Accesorios</a></li>
          <li><a href="#">Kits y Promociones</a></li>
        </ul>
      </section>-->
      <div>
        <strong>Nuestros Productos</strong>
        <img src="/images/bannerX.jpg" alt="" />
      </div>
      <section>
           
        <div class="d-flex-lg width-100vw">
          <%   for (let i = 0; i < products.length; i++) { %>
                <%  let product = products[i]; %>
                <article class="product-article flex-column no-border radius-5">
                 <a href="/details"
                   ><h4 class="font-arimo color-secondary"><%= product.name %> </h4></a
                 >
                 <img
                   src= <%= product.image %> 
                   alt=<%= product.name %> 
                   class="width-100"
                 />
                 <p class="font-bellefair"><%= product.description %> </p>
               </article>
          <%   }  %>
           </div>

       
      
      </section>
    </main>

    <%-include("partials/footer") %>
  </body>
</html>
