<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include("../partials/head-base", { title: product.name }) %>
    <script src="/js/confirm-delete-product.js"></script>
  </head>

  <body class="background-main">
    <%-include("../partials/header") %>
    <main class="flex-wrap">
      <section class="flex-column background-main">
        <div class="padding-7 hidden-md">
          <a href="/"><i class="fas fa-home color-primary"></i></a>
        </div>

        <div class="d-flex-lg width-100vw">
          <div class="width-50lg">
            <article
              class="product-article-details flex-column no-border radius-5"
            >
              <img
                src="/images/products/<%= product.image %>"
                alt="<%= product.name %>"
                class="width-77"
              />
              <h3 class="font-arimo font-size-18 color-secondary center-text">
                <%= product.name %>
              </h3>
              <h4 class="font-arimo color-secondary center-text">
                $ <%= product.price %>
              </h4>
            </article>
            <% if(user.categoryId == 1) { %>
            <article>
              <form action="/cart" method="GET">
                <div class="details-form d-flex width-100 no-border-lg">
                  <label class="font-size-18 color-secondary" for="cant"
                    >CANTIDAD</label
                  >
                  <input type="number" id="cant" class="radius-5" name="cant" />
                  <button type="submit" class="radius-5 border-1">
                    AGREGAR AL CARRITO
                  </button>
                </div>
              </form>

              <a href="/products" id="buying">Ver más productos</a>
              <div class="delivery-container flex-wrap font-arimo no-border-lg">
                <i class="fas fa-truck color-primary margin-rigth-13"></i>
                <p>
                  Con tu compra mayor a 2000$,
                  <strong>envío gratis!</strong>
                </p>
              </div>
            </article>
            <% } %>
          </div>

          <article
            class="flex-column text-details-container font-arimo width-50lg"
          >
            <p class="font-size-14 color-primary"><%= product.description %></p>
            <% if(user.categoryId == 2) { %>
            <div class="d-flex">
              <div class="details-form d-flex width-100 no-border-lg">
                <a href="/products/<%= product.id  %>/edit " class="width-100"
                  ><button type="submit" class="radius-5 border-1">
                    Editar
                  </button></a
                >
              </div>
              <div class="details-form d-flex width-100 no-border-lg">
                <form id="deleteForm" class="width-100">
                  <button
                    id="deleteButton"
                    type="submit"
                    class="radius-5 border-1"
                  >
                    Borrar
                  </button>
                </form>
                <div id="confirmDelete" class="hidden">
                  <form
                    id="reconfirm"
                    action="/products/<%= product.id  %>?_method=DELETE"
                    method="POST"
                  >
                    <p>Estas seguro que deseas eliminar el producto?</p>
                    <button type="submit" id="deleteYes">Si</button>
                  </form>
                  <a href="/products/details/<%=product.id%>"
                    >No, volver al detalle del producto</a
                  >
                </div>
              </div>
            </div>
            <% } %>
          </article>
        </div>
      </section>
    </main>
    <%-include("../partials/footer") %>
  </body>
</html>
