<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include("../partials/head-base", { title: product.name }) %>
    <script src="/js/confirm-delete-product.js"></script>
  </head>

  <body class="background-main">
    <%-include("../partials/header") %>
    <main class="flex-wrap">
      <section class="flex-column background-main width-100 margin-top-50-lg">
        <div class="d-flex-lg width-100-lg">
          <div class="width-50-lg flex-column justify-center">
            <article
              class="product-article product-article-lg flex-column no-border radius-5 height"
            >
              <img
                src="/images/products/<%= product.image %>"
                alt="<%= product.name %>"
                class="width-77 zoom"
              />
            </article>
          </div>

          <article
            class="flex-column text-details-container font-arimo width-50-lg justify-center"
          >
            <h3
              class="margin-5 font-arimo font-size-18 font-25-lg color-secondary center-text"
            >
              <%= product.name %>
            </h3>
            <% if(product.discount> 0) { %>
            <div class="d-flex width-50-lg align-self-center justify-center">
              <h4
                class="margin-5 price-discount font-arimo color-secondary center-text"
              >
                $ <%= product.price %>
              </h4>
              <h4
                class="margin-5 font-arimo color-secondary center-text mark-discount"
              >
                <%= product.discount %>% OFF
              </h4>
            </div>
            <p
              class="font-arimo color-secondary margin-5 align-self-center font-25-lg"
            >
              $<%= (product.price - product.price * product.discount / 100) %>
            </p>
            <% } else { %>
            <p
              class="font-arimo color-secondary margin-5 align-self-center font-25-lg"
            >
              $<%= product.price; %>
            </p>
            <% } %>
            <p class="font-size-14 color-primary font-20-lg">
              <%= product.description %>
            </p>
            <% if(user.categoryId == 1) { %>
            <article>
              <form action="/cart" method="GET">
                <div class="details-form d-flex width-100 no-border-lg">
                  <label class="font-size-18 color-secondary" for="cant"
                    >CANTIDAD</label
                  >
                  <input type="number" id="cant" class="radius-5" name="cant" />
                  <button type="submit" class="radius-5 border-1">
                    AGREGAR AL CARRITO
                  </button>
                </div>
              </form>
              <a href="/products/page/1" id="buying">Ver más productos</a>
            </article>
            <div class="delivery-container flex-wrap font-arimo no-border-lg">
              <i
                class="fas fa-truck color-primary margin-rigth-13 margin-top-12"
              ></i>
              <p>
                Con tu compra mayor a 2000$,
                <strong>envío gratis!</strong>
              </p>
            </div>
            <% } %> <% if(user.categoryId == 2) { %>
            <div class="d-flex">
              <div class="details-form d-flex width-100 no-border-lg">
                <a href="/products/<%= product.id  %>/edit " class="width-100"
                  ><button type="submit" class="radius-5 border-1">
                    Editar
                  </button></a
                >
              </div>
              <div class="details-form d-flex width-100 no-border-lg">
                <form id="deleteForm" class="width-100">
                  <button
                    id="deleteButton"
                    type="submit"
                    class="radius-5 border-1"
                  >
                    Borrar
                  </button>
                </form>
                <div id="confirmDelete" class="hidden">
                  <p class="font-arimo color-primary">
                    Estas seguro que deseas eliminar el producto?
                  </p>
                  <form
                    id="reconfirm"
                    action="/products/<%= product.id  %>?_method=DELETE"
                    method="POST"
                  >
                    <button
                      type="submit"
                      id="deleteYes"
                      class="radius-5 border-1"
                    >
                      Si
                    </button>
                  </form>

                  <form
                    action="/products/details/<%=product.id%>"
                    method="POST"
                  >
                    <button
                      type="submit"
                      id="deleteNo"
                      class="radius-5 border-1"
                    >
                      No
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <% } %>
          </article>
        </div>
      </section>
    </main>
    <%-include("../partials/footer") %>
  </body>
</html>
