<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include("../partials/head-base",{title:"Editar"}) %>
    <link rel="stylesheet" href="/css/forms.css" />
    <link rel="stylesheet" href="/css/validation.css" />
    <!-- <script src="/js/validation-products.js"></script> -->
    <script type="text/javascript" src="/js/validator.min.js"></script>
    <script src="/js/validation-products-validator.js"></script>
  </head>

  <body class="background-main">
    <%-include("../partials/header") %>
    <!--Consultar como se hace el captcha-->
    <main class="background-main main-form-container flex-column wrap forms-lg">
      <section
          class="form-container center-text radius-5 width-auto background-image-four"
        >
        <h3 class="margin-10 font-arimo font-size-25lg">Estás editando: <i><%=  product.name %></i></h3>
        <% if(typeof errors != "undefined") { %>
          <ul>
            <% for (let i = 0; i < errors.length; i ++) { %>
            <li><%= errors[i].msg %></li>
            <% } %>
          </ul>
          <% } %>
        <form action="/products/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data" id="editForm"> 
            <p class="font-jura font-size-14 flex-column font-size-20lg">
              <label for="name" class="font-weight-bold margin-5">Nombre del producto:</label>               
              <input type="text" id="name" name="name" placeholder="Ej: crema hidratante"
              class="no-border radius-5 center-text font-bellefair font-size-20lg height-5-vh width-75 validate" 
              value="<%= product.name %>">
            </p>
            <div id="nameFeedback" class="feedback"></div>
            <p class="font-jura font-size-14 flex-column font-size-20lg">
              <label for="price" class="font-weight-bold margin-5">Precio del producto:</label>
              <input type="number" id="price" name="price" placeholder="Ej: 5678" class="no-border radius-5 center-text font-bellefair font-size-20lg height-5-vh width-75 validate"
              value="<%= product.price %>"/>
            </p>
            <div id="priceFeedback" class="feedback"></div>
            <p class="font-jura font-size-14 flex-column font-size-20lg">
              <label for="discount" class="font-weight-bold margin-5">Descuento:</label>
              <input type="text" id="discount" name="discount" placeholder="Ej: 15" class="no-border radius-5 center-text font-bellefair font-size-20lg height-5-vh width-75 validate"
              value="<%= product.discount %>"/>
            </p>
            <div id="discountFeedback" class="feedback"></div>
            <p class="font-jura font-size-14 flex-column font-size-20lg">
              <label for="category" class="font-weight-bold margin-5">Categoría:</label>
              <select name="category" id="category" class="no-border radius-5 center-text font-bellefair font-size-20lg margin-5 height-5-vh width-75 align-self-center validate">
                <option value="">Elegí</option>

 <option value="">Elegí</option>
            <option value='1' <%= product.category == "1" ? "selected" : "" %>>Cabello</option>
           <option value='2' <%= product.category == "2" ? "selected" : "" %>>Cuerpo</option>
           <option value='3' <%= product.category == "3" ? "selected" : "" %>>Rostro</option>
           <option value='4' <%= product.category == "4" ? "selected" : "" %>>Manos</option>
           <option value='5' <%= product.category == "5" ? "selected" : "" %>>Kits</option>
           <option value='6' <%= product.category == "6" ? "selected" : "" %>>Higiene</option>
           <option value='7' <%= product.category == "7" ? "selected" : "" %>>Pies</option>
           <option value='8' <%= product.category == "8" ? "selected" : "" %>>Accesorios</option>


              />
            </p>
            <div id="categoryFeedback" class="feedback"></div>
            <p class="font-jura font-size-14 flex-column font-size-20lg">
              <label for="description" class="font-weight-bold margin-5" >Descripción:</label>
              <textarea name="description" id="description"
              class="form-input margin-5 width-75 align-self-center validate"><%= product.description %></textarea>
            </p> 
            <div id="descriptionFeedback" class="feedback"></div> 
            <div class="flex-column align-center">
            <p>Imagen actual</p>
            <img
     src="/images/products/<%= product.image %>"
     alt="<%= product.name %> "
     class="product-img-fit product-img"/> 
         
      <input type="file" name="image" id="image" class="validate">    
    </div>
    <div id="imageFeedback" class="feedback"></div>
                 
            <button
              type="submit"
              class="no-border center-text font-jura font-size-14 font-size-20lg margin-5"
            >
              Editar
            </button>
          </form>
      </section>
    </main>

    <%-include("../partials/footer") %>
  </body>
</html>
