<a
  href="/products/details/<%= product.id %>"
  class="d-flex justify-center width-50-md product width-30-lg"
>
  <article class="product-article flex-column no-border margin-5 radius-5">
   
    
    <img
      src="/images/products/<%= product.image %>"
      alt="<%= product.name %> "
      class="width-100 border-img"
    />
    <h4 class="font-arimo color-secondary center-text margin-10"><%= product.name %></h4>
    <p class="center-text color-secondary font-size-23">
     $  <%= product.price%>
    </p>
  
  </article>
</a>
